* {     
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body {
        font-family: 'poppins, sans-serif;
        background: #fcfcfc;
    }
  .header {
        padding: 30px;
        text-align: center;
        background: white;
    }

    .header h1 {
        font-size: 50px;
    }

    nav ul {
                width: 100%;
                background-color: rgba(44, 42, 39, 0.983);
                list-style-type: none;

                margin: 0;
                padding: 0;
            }

            nav ul li {
                display: inline-block;
            }
            
            .home {
                background-color: darkorange;
                width: 100px;
                text-align: center;
                font-weight: bold;
                float: right;
            }

            .home a {
                display: block;
                text-decoration: none;
                color: white;
                padding: 16px 16px;
            }

            .dropdown {
                position: relative;
            }

            .dropdown-menu {
                color: white;
                padding: 16px;
                font-size: 16px;
                cursor: pointer;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .dropdown-content a:hover {background-color: #f1f1f1}

            .dropdown-menu:hover:not(.home){
                background-color: darkorange;
                color: white;
            }

.small-container{
          max-width: 1000px;
          margin: auto;
          padding-left: 25px;
          padding-right: 20px;
}
.row{
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         justify-content: space-around;
}
.single-product{
         margin-top: 80px;
}
.small-img-row{
         display: flex;
         justify-content: space-around;
}
.col-2 img{
         max-width: 100;
         padding: 50px 0;
}
.small-img-col{
        flex-basis: 24%;
        cursor: pointer;
}
.single-product .col-2 img{
       padding: 0;
}
.single-product .col-2{
       padding: 20px;
}
.col-2{
      flex-basis: 50%;
      min-width: 300px;
}
.col-2 h1{
      font-size: 50px;
      line-height: 60px;
      margin: 25px 0;
}   
.single-product select{
      display: block;
      padding: 10px;
      margin-top: 20px;
}
.single-product h4{
      margin: 20px 0;
      font-size: 22px;
      font-weight: bold;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
     outline: none;
}
a{
     text-decoration: none;
     color: #555;
}
.single-product .fa{
     color: #ff523b;
     margin-left: 10px;
}
p{
    color: #555;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}


footer{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #111;
      height: auto;
      width: 100vw;
      font-family: "open sans";
      padding-top: 40px;
      color: #fff;
    }
.footer-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
}
.footer-content h3{
       font-size: 1.8rem;
       font-weight: 400;
       text-transform: capitalize;
       line-height: 3rem;
}
.footer-content p{
       max-width: 500px;
       margin: 10px auto;
       line-height: 28px;
       font-size: 14px;
}
.socials{
       list-style: none;
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 1rem 0 3rem 0;
}
.socials li{
       margin: 0 10px;
}
.socials a{
       text-decoration: none;
       color: #fff;
}
.socials a i{
       font-size: 1.1rem;
       transition: color .4s ease;
}
.socials a:hover i{
       color: aqua;
}

.footer-bottom{
        background: #000;
        width: 100vw;
        padding: 20px 0;
        text-align: center;
}
.footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
}
.footer-bottom span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
}


    @media screen and (max-width: 600px) {
        .leftcolumn, .rightcolumn {
            width: 100%;
            padding: 0;
        }
    }


    @media screen and (max-width: 400px) {
      nav {
          display: none;
      }